.home{
    width: 100%;
    height: 316px;
    background-color: #8FC763;
    padding: 0 9% 0 9%;
}

.home-image {
    width: 100%;
    height: 316px;
    margin-bottom: 0;
}

.post-zero{
    color: white;
    font-size: 1.33rem;
    padding-top: 25px;

}

.post{
    color: white;
    font-size: 100%;

}

.section-one{
    width: 100%;
    height: 240px;
    margin: 0;
    padding: 5px;
    background-color: white;
    margin-left: 10%;
    margin-right: auto;

}

.section-one-image{
    width: 96px;
    padding: 3px;
    margin-top: 15%;
    margin-left: 20%;
    margin-right: auto;
}

.section-one-title{
    width: 100%;
    padding: 3px;
    justify-content: center;
    color: #0D6000;
    font-size: 16px;
    font-weight: bold;
}

.section-two{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px;
    background-color: #263B21;
    font-size: 90%;

}

@media screen and (max-width: 769px) {
    /*.navbar_list {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      top: 70px;
      left: -100%;
      width: 100%;
      height: 300px;
      position: absolute;
      transition: all 0.5s ease;
    }*/

    .post{
        color: white;
        font-size: 100%;
        margin: 10%;
    
    }

    .hero-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }

    .section-two{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 2px;
        background-color: #263B21;
        font-size: 80%;
    
    }
}