.logo{
    position: relative;
    width: 206px;
    height: 82px;
    margin-left: 30%;
    padding-right: 20px;
}

.logo-image {
    width: 100%;
    height: 100%;
    position: absolute;
}


@media screen and (max-width: 600px) {

    .logo-image {
        width: 90%;
        height: 80%;
        position: absolute;
    }
}